body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height:1.6em;
    margin: 0;

}
p{margin-bottom: 1.6em;}

h1{line-height:1.3em;
font-size:2rem;}

.container{width:85%;
max-width:850px;
margin: 0 auto;}
/*empieza el header*/
.header{
    background: #333;
    color:white;
    padding:2rem 0;
    position:fixed;
    left: 0;
    top:0;
    right:0;
}
.header a
{color:white;
text-decoration:none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

.logo{width: 170px;
height:125px;}

.menu-icon{
    display:none;
}

.navegacion li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.navegacion > li {float:left;}
.navegacion li:hover > ul{display:block}
.navegacion li ul li {position:relative;}
.navegacion ul {
    margin:0;
    padding: 0;
    list-style: none;
}
.navegacion ul li {
    display: inline-block;
}
.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegacion ul li a:hover {
    background: #4a4a4a;
}
/*Termina el header*/

.footer {background:#f2f2f2;
padding: 4rem 0;
text-align: center;
margin-top: 6rem;}  /*Cambiad el footer como veais mejor pero que utilicen los 3 estilos el mismo/*

/* esta parte es solo para cuando se usa con dispositivos pequeños,no hace falta tocar de aqui para abajo,escribid lo que sea arriba */
@media only screen and (max-width: 767px) {
    .menu-icon {
        display:block;
        cursor:pointer;
        padding: 0,5rem 1rem;
    }
     .navegacion{
         width:100%;
         margin-top:1rem;
     }
 .navegacion ul{
     display:none;
 }
 .navegacion ul.show {
     display:block;
 }
 .navegacion li ul {
     display:none;
     position:relative;
     min-width:140px;
 }
 .navegacion li:hover > ul{display:none;}
     .navegacion ul li {
         display:block;
     }
     .navegacion ul li a{
         display: block;
         padding: 0.5rem 0rem;
         transition: all 0.4s linear;
         border-radius: 5px;
     }
     .navegacion ul li a:hover {
         background: #4a4a4a;
 }
 }